<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123782776535-9m81j2d5n3n22st6ivdltut72siddgkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123782776535-9m81j2d5n3n22st6ivdltut72siddgkj</string>
	<key>API_KEY</key>
	<string>AIzaSyBdyueP3tP7teRExTpv5jY000sHoKnb1gk</string>
	<key>GCM_SENDER_ID</key>
	<string>123782776535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sdc</string>
	<key>PROJECT_ID</key>
	<string>sdcapp-898e8</string>
	<key>STORAGE_BUCKET</key>
	<string>sdcapp-898e8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123782776535:ios:7e1422ea27c20c94e21292</string>
</dict>
</plist>